*.abi
*.autogen_bak
*.bak
*.gir
*.gmo
*.la
*.lo
*.mo
*.o
*.pot
*.stamp
*.tar.gz
*.typelib
*.valid

.*-cache
.cproject
.deps
.libs
.project

aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.h~
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
mkinstalldirs
missing
POTFILES
stamp-*

/docs/reference/*/*-decl.txt
/docs/reference/*/*-decl-list.txt
/docs/reference/*/*-undeclared.txt
/docs/reference/*/*-undocumented.txt
/docs/reference/*/*-unused.txt
/docs/reference/*/*.args
/docs/reference/*/*.hierarchy
/docs/reference/*/*.prerequisites
/docs/reference/*/*.interfaces
/docs/reference/*/*.signals
/docs/reference/*/html
/docs/reference/*/tmpl
/docs/reference/*/version.xml
/docs/reference/*/version.xml
/docs/reference/*/xml

/egg/tests/test-*
!/egg/test/test-*.c
/egg/asn1-def-*.c
/egg/tests/asn1-def-*.c

/gck/*.pc
/gck/gck-enum-types*
/gck/gck-marshal.*
/gck/tests/test-*
!/gck/test/test-*.c

/gcr/*.pc
/gcr/gcr-enum-types*
/gcr/gcr-oids.*
/gcr/gcr-marshal.*
/gcr/gcr-viewer
/gcr/gcr-viewer.desktop
/gcr/tests/frob-*
!/gcr/test/frob-*.c
/gcr/tests/test-*
!/gcr/test/test-*.c

/po/Makefile.in.in
/po/*.sed
/po/*.sed.in
/po/*.c
/po/messages

