# Unit test builds
test-*
!test-*.*
frob-*
!frob-*.*

# Common file extensions
*.abi
*.autogen_bak
*.bak
*.gcda
*.gcno
*.gcov
*.gir
*.gmo
*.la
*.lo
*.mo
*.o
*.plist
*.pot
*.service
*.stamp
*.swp
*.tar.gz
*.typelib
*.valid
*~

.*-cache
.cproject
.deps
.libs
.project
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.h~
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
mkinstalldirs
missing
POTFILES
stamp-*

/docs/reference/*/*-decl.txt
/docs/reference/*/*-decl-list.txt
/docs/reference/*/*-undeclared.txt
/docs/reference/*/*-undocumented.txt
/docs/reference/*/*-unused.txt
/docs/reference/*/*.args
/docs/reference/*/*.hierarchy
/docs/reference/*/*.prerequisites
/docs/reference/*/*.interfaces
/docs/reference/*/*.signals
/docs/reference/*/html
/docs/reference/*/tmpl
/docs/reference/*/version.xml
/docs/reference/*/version.xml
/docs/reference/*/

/egg/asn1-def-*.c
/egg/tests/asn1-def-*.c

/gck/*.pc
/gck/gck-enum-types*
/gck/gck-marshal.*
/gck/gck-version.h
/gck/gck-*.deps
/gck/gck-*.vapi

/gcr/*.pc
/gcr/gcr-dbus-generated.*
/gcr/gcr-enum-types*
/gcr/gcr-oids.*
/gcr/gcr-marshal.*
/gcr/gcr-version.h
/gcr/gcr-*.deps
/gcr/gcr-*.vapi

/ui/*.pc
/ui/gcr-enum-types*
/ui/gcr-prompter
/ui/gcr-prompter.desktop
/ui/gcr-prompter.desktop.in
/ui/gcr-viewer
/ui/gcr-viewer.desktop
/ui/gcr-viewer.desktop.in
/ui/gcr-*.deps
/ui/gcr-*.vapi
/ui/gcr-resources.c
/ui/gcr-resources.h

/po/Makefile.in.in
/po/*.sed
/po/*.sed.in
/po/*.c
/po/messages

/build/coverage
/build/coverage.info
/build/valgrind-suppressions
/build/test-driver
